<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aritxonly.deadliner">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.oppo.permission.OPPO_COMPONENT_SAFE" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".DeadlinerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deadliner"
        tools:targetApi="31">
        <activity
            android:name=".PlaceholderActivity"
            android:exported="false" />

        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />

        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_ALLOW_SYSTEM_OVERRIDE"
            android:value="false" />

        <meta-data
            android:name="embedded"
            android:value="true" />

        <activity
            android:name=".widgets.HabitWidgetConfigureActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverviewActivity"
            android:exported="false"
            android:label="@string/title_activity_overview"
            android:theme="@style/Theme.Deadliner"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".DeadlineDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_deadline_detail"
            android:theme="@style/Theme.Deadliner"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".ArchiveActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />

        <service
            android:name=".AddDDLTileService"
            android:exported="true"
            android:icon="@drawable/ic_add_ddl_tile"
            android:label="@string/add_ddl_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".notification.UpcomingLiveUpdateService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".IntroActivity"
            android:exported="false" />

        <receiver
            android:name=".widgets.HabitMiniWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/habit_mini_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.HabitMediumWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/habit_medium_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.MultiDeadlineWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/multi_deadline_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.LargeDeadlineWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/large_deadline_widget_info" />
        </receiver>
        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DeadlineAlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aritxonly.deadliner.ACTION_DDL_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DailyAlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aritxonly.deadliner.ACTION_DAILY_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.NotificationActionReceiver"
            android:exported="false" />
        <receiver
            android:name=".notification.UpcomingLiveUpdatesReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.WAKE_LOCK">
            <intent-filter>
                <action android:name="com.aritxonly.deadliner.ACTION_UPCOMING_DDL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.HabitNotifyReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.WAKE_LOCK">
            <intent-filter>
                <action android:name="com.aritxonly.deadliner.ACTION_HABIT_NOTIFY" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="www.aritxonly.top"
                    android:pathPrefix="/deadliner/share" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="deadliner" android:host="share" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddDDLActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>